body {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

h1 {
  background-color: whitesmoke;
}

.main-container {
  background-color: white;
  width: 375px;
  height: 844px;
  padding: 1%;
}

.header-container {
  /* background-color: whitesmoke; */
}

.content-container {
}

.block-search {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  width: 70%;
}

.block-search-buttons {
  display: flex;
  width: 40%;
  height: 100px;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
}

.block-search-results {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
}
