body {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

h1 {
  background-color: whitesmoke;
}

.main-container {
  background-color: white;
  width: 375px;
  height: 844px;
  padding: 1%;
}

.header-container {
  /* background-color: whitesmoke; */
}

.content-container {
}

.block-search {
  display: flex;
  flex-direction: column;
  justify-items: center;

}
.block-search-buttons {
  display: flex;
  width: 40%;
  height: 100px;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
}

.book-search-results {
  display: flex;
  flex-direction: row;
  justify-items: center;
  /* width: 100%; */
}

.book-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
  /* height: 60px; */
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  width: 70%;
}

.hidden {
  display: none;
}

.textResults {
  width: 100%;
}

.imgResults {
  /* display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  justify-items: flex-end; */
}
