body {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

h1 {
  background-color: whitesmoke;
}

.main-container {
  background-color: white;
  /* width: 375px; */
  height: 844px;
  min-width: 350px;
  max-width: 600px;
  padding: 1%;
}

.header-container {
}

.content-container {
}

.block-search {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.block-search-buttons {
  display: flex;
  width: 40%;
  height: 100px;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
}

.results-container {
}

.scrolling-wrapper {
  display: flex;
  overflow-x: auto;
}

.card {
  flex: 0 0 auto;
  flex-wrap: wrap;
  border: 1px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  height: 450px;
  margin-right: 15px;
  padding: 2%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card::-webkit-scrollbar {
  display: none;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  width: 70%;
}

.hidden {
  display: none;
}

.textResults {
  width: 100%;
  padding: 1%;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.s-author {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.info {
  /* display: flex;
  flex-direction: row; */
}

.leftspan {
  font-weight: 700;
  text-align: left;
  padding-bottom: 0.5%;
}

.rightspan {
  text-align: start;
}

.imgResults {
  display: flex;
  padding: 1%;
}

img {
  height: 150px;
  width: 100px;
}
